<!-- app/views/products/recently_updated.html.erb -->
<h1>Recently Updated Products</h1>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p><%= product.description %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
      <% if product.img_src.present? %>
        <%= image_tag product.img_src %>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @products %>
