<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<%= image_tag @product.img_src if @product.img_src.present? %>

<%= link_to 'Back to Products', products_path %>
