<!DOCTYPE html>
<html>
  <head>
    <title>Sk3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
 <body>
  <header>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'About', about_page_path %> |
      <%= link_to 'Contact', contact_page_path %> |
      <%= link_to 'New Products', new_products_products_path %> |
      <%= link_to 'Recently Updated Products', recently_updated_products_path %> |
      <%= link_to 'Admin', admin_root_path %> |
      <div class="dropdown">
      
        <div class="dropdown-content">
          <% Category.all.each do |category| %>
            <%= link_to category.name, category_path(category) %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
